/* purgecss start ignore */

/* example */
.main,
.header,
footer {
  @apply container mx-auto;
}


h1 {
  @apply font-bold;
  @apply text-4xl;
  @apply md:text-5xl;
  @apply lg:text-7xl;
  @apply mb-4;
  @apply text-gray;
}

h2 {
  @apply text-2xl;
  @apply font-bold;
  @apply md:text-3xl;
  @apply lg:text-6xl;
  @apply mb-4;
  @apply text-gray;
}

h3 {
  @apply leading-tight;
  @apply text-lg;
  @apply md:text-xl;
  @apply lg:text-2xl;

  @apply mb-4;
  @apply text-gray;
}

h4 {
  @apply font-bold;
  @apply text-lg;
  @apply md:text-xl;
  @apply lg:text-2xl;

  @apply mb-4;
  @apply text-gray;
}

p {
  @apply text-sm;
  @apply md:text-base;
  @apply lg:text-md;

  @apply mb-4;
  @apply text-gray;
}

a {
  @apply underline;
  @apply text-red;
}

.button {
  @apply bg-smoke;
  @apply py-4;
  @apply px-8;
  @apply shadow-md;
  @apply rounded-md;
  @apply inline-flex;
  @apply font-bold;
  @apply no-underline;

}


.home-grid {
  @apply mt-16;
  @apply border border-solid border-red;
  @apply grid grid-cols-4 gap-4;
}

/* purgecss end ignore */
