/* purgecss start ignore */


@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik-Bold.woff2') format('woff2'),
    url('../fonts/Aeonik-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik-Regular.woff2') format('woff2'),
    url('../fonts/Aeonik-Regular.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}


/* purgecss end ignore */
